@import '@/styles/index.less';

.box {
  padding: 0 20px;
  margin-bottom: 30px;

}

.itemBox {
  border-radius: 20px;
  padding: 20px;
}

.commonColor {
  color: @theme-color;
}
.box_left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.txt {
  font-size: 22px;
  border-radius: 10px;
  padding: 0 5px;
  margin-top: 5px;
}
.top {
  background-color: #BE272030;
  color: #BE2720;
  margin: 10px 0;
}
.bottom {
  background-color: #3B92E530;
  color: #3B92E5;
}
.box_right {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 20px;
}

.title {
  font-weight: 500;
  color: #333;
  font-size: 32px;
}

.commonTxt {
  color: #666;
  font-size: 28px;
  margin-top: 30px;
  font-size: 28px;
}


.shadow_txt{
  font-size: 34px;
}
.show_title {
  background-color: #fff;
  padding: 30px 0;
  border-radius: 20px;
}

.paddingTopAndBottom{
  padding: 30px 0;
}
.paddingTop {
  padding: 30px 0 0 0;
}
.part_title {
  color: @theme-color;
  font-size: 34px;
}

.children_content {
  padding: 0px 20px;
  margin-top: 30px;
}

.footer_top {
  margin-top: 20px;
}

.user_icon {
  width: 124px;
  height: 124px;
}

.imgFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 400;
  font-size: 36px;
}
