@import '../../styles/index.less';
.bannerImg {
  position: relative;
  display: block;
  margin: 0;
  width: 100%;
  height: 256px !important;
  > div {
    display: block;
    margin: 0;
    width: 100%;
    height: 256px !important;
  }
  image {
    width: 100%;
    height: 256px !important;
  }
  overflow: hidden;
}

.microsite {
  position: absolute;
  top: 115px;
  left: 44px;
  width: 153px;
  height: 50px;
  background: @theme-color;
  border-radius: 25px;
  font-weight: bold;
  color: #fafafa;
  font-size: 26px;
  &:active {
    opacity: 0.7;
  }
}

.banner2 {
  width: 100%;
  height: 200px;
}

.content {
  position: absolute;
  top: 235px;
  width: 100%;
  padding: 62px 30px 0 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: #fafafa;
  .toSearch {
    position: absolute;
    top: -32px;
    width: 690px;
    height: 68px;
    background: #ffffff;
    border-radius: 34px;
    display: flex;
    align-items: center;
    font-size: 26px;
    color: #999999;
    .searchIcon {
      font-size: 32px;
      margin: 18px;
    }
  }
}

.nav {
  font-size: 24px;
  // font-weight: 300;
}

.navImg {
  width: 131px;
  height: 131px;
}

.navWrap {
  position: relative;
  &:active {
    opacity: 0.7;
  }
}

.navNewImg {
  position: absolute;
  top: 5px;
  right: 18px;
  width: 53px;
  height: 26px;
}

.navLsnlImg {
  position: absolute;
  top: -10px;
  left: 80px;
  width: 113px;
  height: 33px;
}

.navTitle {
  margin: 12px 0 13px 0;
  color: @black-300;
  font-size: 34px;
  font-weight: bold;
}

.subNav {
  margin-top: 52px;
}

.subNavImage {
  position: relative;
  display: block;
  width: 48%;
  height: 174px;
  image {
    display: block;
    margin: 0;
    width: 100%;
    height: 174px;
  }
  > div {
    display: block;
    margin: 0;
    width: 100%;
    height: 174px;
  }
  &:active {
    opacity: 0.7;
  }
}

.subNavWrap {
  position: absolute;
  top: 24px;
  left: 32px;
}

.subNavTitle {
  font-size: 32px;
  font-weight: bold;
  color: #19b9a6;
}

.subNavTitle1 {
  color: #e7b632;
}

.subNavSubTitle {
  margin-top: 11px;
  font-size: 22px;
  color: #999;
}

.subItemImg {
  width: 100px;
  height: 80px;
  margin-bottom: 10px;
}

.subItemTitle {
  font-size: 26px;
  font-weight: 400;
  color: @black-800;
}

.patTitle {
  margin: 35px 0;
  font-size: 34px;
  font-weight: 500;
  color: @black;
}

.cardNav {
  width: 100%;
  margin: 20px 0;
  background: #ffffff;
}

.card {
  width: 158px;
  border-radius: 20px;
  &:active {
    opacity: 0.7;
  }
}

.cardImg {
  margin-top: 34px;
  width: 80px;
  height: 80px;
}

.card:nth-child(5),
.card:nth-child(6),
.card:nth-child(7),
.card:nth-child(8) {
  .cardImg {
    margin-top: 0;
  }
}

.cardTitle {
  margin: 24px 0 38px 0;
  font-size: 26px;
  color: #333333;
}

.copyRight {
  margin-top: 50px;
}
