@import '@/styles/index.less';
.page {
  padding-bottom: 170px;
}
// .top {
//   height: 236px;
//   width: 100%;
//   padding: 32px 0 0 22px;
//   font-weight: bold;
//   color: #fff;
//   font-size: 42px;
//   background: @theme-color;
// }

// .logo {
//   width: 124px;
//   height: 124px;
//   margin-right: 23px;
//   border-radius: 50%;
// }

// .content {
//   padding: 0 20px;
// }

// .comboUser {
//   height: 135px;
//   margin-top: -60px;
//   margin-bottom: 24px;
//   background: linear-gradient(0deg, lighten(@theme-color, 50%), #ffffff);
//   border-radius: 20px;
// }

// .comboUserWrap {
//   &:active {
//     opacity: 0.7;
//   }
// }

// .userName {
//   font-size: 36px;
//   font-weight: bold;
// }

// .userText {
//   font-size: 26px;
//   color: #ff900d;
// }

// .downImg {
//   width: 25px;
//   height: 16px;
//   margin-left: 20px;
// }
// .card {
//   position: relative;
//   // height: 239px;
//   margin-bottom: 24px;
//   padding: 40px 20px;
//   border-radius: 20px;
//   line-height: 80px !important;
//   background: #ffffff;
//   border: 6px solid #ffffff;
//   box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 11px;
// }

// .nucleImg {
//   position: absolute;
//   top: 28px;
//   right: 68px;
//   width: 105px;
//   height: 115px;
//   object-fit: contain;
// }

// .nucleicName {
//   display: block;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   width: 76%;
//   // line-height: 32px;
//   font-size: 34px;
//   font-weight: bold;
//   color: #333333;
// }

// .regFee {
//   font-size: 26px;
//   color: #333;
// }

// .solid {
//   height: 1px;
//   background: #e2e2e2;
// }

// .whImg {
//   width: 24px;
//   height: 24px;
//   margin-right: 20px;
// }

// .itemText {
//   margin-top: 30px;
//   line-height: 0;
//   font-size: 26px;
//   color: #666;
// }

// .tip {
//   margin-top: 32px;
//   font-size: 26px;
//   color: #666;
// }

// .tip2 {
//   margin-top: 94px;
//   font-size: 30px;
//   font-weight: bold;
//   color: #333;
// }

// .active {
//   border: 6px solid @theme-color;
// }

// .activeImg {
//   position: absolute;
//   top: -5px;
//   right: -5px;
//   width: 80px;
//   height: 44px;
//   object-fit: contain;
// }

// .footer {
//   position: fixed;
//   left: 0;
//   bottom: env(safe-area-inset-bottom);
//   height: 98px;
//   width: 100%;
//   background: #ffffff;
//   box-shadow: 0 0 5px 0 #e2e2e2;
// }

// .footerWrap {
//   padding-left: 42px;
//   font-size: 34px;
//   font-weight: bold;
//   color: #333333;
// }

// .button {
//   width: 250px;
//   min-width: 250px;
//   font-size: 36px;
//   font-weight: bold;
//   border-radius: 0 !important;
// }

// .calendar {
//   height: 60vh;
//   background: white;
//   overflow: auto;
// }

// .calendarWrap {
//   padding: 34px 40px 0 40px;
//   font-size: 40px;
// }

// .calendarImg {
//   width: 31px;
//   height: 31px;
//   margin-right: 40px;
//   &:active {
//     opacity: 0.7;
//   }
// }

// .popup {
//   width: 608px;
//   height: 790px;
//   background: #fff;
//   border-radius: 20px;
// }

// .popupTop {
//   height: 212px;
//   border-top-left-radius: 20px;
//   border-top-right-radius: 20px;
//   background: @theme-color;
// }

// .popupImg {
//   height: 100%;
//   width: 100%;
// }

// .popupBtns {
//   height: 105px;
//   border-top: 1px solid #e2e2e2;
// }

// .popupBtn {
//   font-size: 36px;
//   min-height: 105px;
//   height: 105px;
//   &:active {
//     opacity: 0.7;
//   }
// }

// .cacelBtn {
//   .popupBtn();
//   position: relative;
//   color: #999;
//   &::after {
//     content: '';
//     position: absolute;
//     right: 0;
//     height: 50%;
//     width: 1px;
//     background: rgba(#e2e2e2, 0.7);
//   }
// }

// .popupWrap {
//   flex: none;
//   padding: 35px 44px;
//   height: 470px;
//   line-height: 54px !important;
//   font-size: 30px;
//   color: #333;
//   overflow: auto;
// }

// .bold {
//   font-weight: bold;
// }

// .popupText {
//   font-size: 28px;
//   text-indent: 36px;
// }

.box {
  position: relative;
  margin-bottom: 12px;
  padding: 20px 12px 15px 12px;
  border: 3px solid #ffffff;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 11px;
  border-radius: 11px;
}
.popTitle {
  font-weight: bold;
  margin-bottom: 20px;
}
.popText {
  text-indent: 20px !important;
  margin-bottom: 20px;
  line-height: 45px;
}

.content {
  padding-top: 140px;
}
.search_box {
  position: fixed;
  padding: 20px 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 100;
}

.user_icon {
  width: 124px;
  height: 124px;
}

// 详情
.detail_top {
  width: 100%;
  background-color: #BE2720;
  padding: 40px 30px 60px 30px;
  display: flex;
  align-items: center;
}

.detail_top_right {
  color: #fff;
  font-size: 28px;
}

.right_name {
  font-size: 32px;
}

.top_right_bottom {
  margin-top: 30px;
}

.border_hos_name {
  border: 2px solid #fff;
  padding: 0 5px;
  border-radius: 20px;
  font-size: 22px;
  margin-right: 20px;
}

.border_hos_name_unique {
  margin-right: 0;
  margin-left: 20px;
}


.detail_content {
  margin: 0 20px;
}

.inner_content {
  height: 400px;
  margin-top: -20px;
  font-size: 30px;
}

.content_item {
  padding: 28px 0;
  background-color: #fff;
  border-radius: 10px;
}

.item_gap {
  margin-bottom: 30px
}

.teamer_footer {
  background-color: #BE272010;
  width: 100%;
  height: 70px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #BE2720;
  font-size: 28px;
}

.btn_box {
  margin-top: 30px;
}

.affirmSheet_box {
  display: flex;
  justify-content: space-between;
}

.affirmSheet_content {
  max-height: 700px;
  overflow: auto;
}

.affirmSheet_item {
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 30px;
}

.doctor_name {
  font-size: 32px;
  color: #333333;
  font-weight: 400;
}

.doctor_desc {
  font-size: 28px;
  color: #666666;
  font-weight: 400;
}

.doctor_gap {
  margin-bottom: 30px;
}

.expert_icon {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 120px;
}

.share_icon {
  width: 50px;
  height: 50px;
}
