@import '@/styles/index.less';
.page {
  padding-bottom: 170px;
}
.warp {
  padding: 20px;
}
.item {
  width: 710px;
  height: 292px;
  background: #ffffff;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 20px;
}
.status {
  width: 175px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding-left: 40px;
  margin-right:0 !important;
}
.icon {
  width: 175px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.statusTxt {
  font-size: 28px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #52abc8;
  position: relative;
  z-index: 9;
}
.itemTitle {
  font-size: 34px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  padding: 12px 0;
}
.itemdesc {
  font-size: 28px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #666666;
  padding: 12px 0;
}
.StatusBox {
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 60px;
  border-radius: 30px;
}
.wait {
  background: @theme-color;
  color: #fff;
}
.success {
  background: #52ABC8;
  color: #fff;
}
.fail {
background: rgba(190, 39, 32, 1);
  color: @theme-color;
}