@import '@/styles/index.less';
.page {
  min-height: calc(100vh - 35px);
  background: #eff4fc;
  padding-bottom: 35px;
  padding-bottom: calc(
    constant(safe-area-inset-bottom)+ 35px
  ) !important; /*兼容 IOS<11.2*/
  padding-bottom: calc(
    env(safe-area-inset-bottom)+ 35px
  ) !important; /*兼容 IOS>11.2*/
}
.top {
  display: flex;
  align-items: flex-start;
  padding: 32px 19px;
  line-height: 1;
  margin-bottom: 20px;
  background-color: @theme-color;
}
.content {
  padding: 0 19px;
}
.statusImg {
  width: 103px;
  height: 104px;
  margin-right: 12px;
}
.status {
  font-size: 40px;
  font-weight: bold;
  color: #fff2aa;
  margin: 10px 0 15px;
}
.statusInfo {
  font-size: 30px;
  font-weight: 400;
  color: #fff2aa;
}
.pannel {
  margin: 0 20px;
  width: 712px;
  height: 331px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  margin-bottom: 20px;
}

.hosp {
  font-size: 34px;
  font-weight: bold;
  color: #666;
  margin-top: 15px;
}
.info {
  margin-bottom: 5px;
  color: #333;
}
.grey {
  font-weight: normal;
  color: #666;
}
.sheet {
  pointer-events: none !important;
}
.title {
  margin: 30px 0;
}
.btns {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 98px;
  border-top: 1px solid #e2e2e2;
  background-color: #fff;
}
.fee {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-size: 36px;
  font-weight: bold;
  color: #d95e38;
}
.cancel {
  width: 250px;
  height: 98px;
  font-size: 36px;
  background-color: #d0e7f9;
  color: @theme-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  border: none;
  font-weight: bold;
}
.pay {
  width: 250px;
  height: 98px;
  font-size: 36px;
  background-color: @theme-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  font-weight: bold;
}

.cards {
  padding: 0 20px;
  margin: 44px 0;
}

.card {
  padding: 25px 20px;
  background: white;
  border-radius: 20px;
}
