@import '../../../styles/index.less';
.paymented {
  padding: 20px;
}

.item {
  padding: 32px 20px !important;
  line-height: 55px !important;
}

.bizName {
  margin-left: 15px;
  font-size: 22px;
  color: #ec944e;
  border: 1px solid #ec944e;
  padding: 0 6px;
  height: 48px;
  line-height: 48px;
  border-radius: 15px;
  font-weight: 400;
  box-sizing: border-box;
}

.payTitle {
  color: #0cb279;
  font-weight: bold;
  font-size: 34px;
}

.fill {
  color: #ff8fc1;
}

.success {
  color: @theme-color;
}

.lineHeight {
  line-height: 50px !important;
}

.name {
  min-width: 148px;
  font-size: 34px;
  font-weight: bold;
}

.name2 {
  margin: 0 25px;
}

.price {
  font-size: 34px;
  font-weight: bold;
  color: #dc6c46;
}

.title {
  font-size: 30px;
  color: #666;
}

.text {
  color: #333;
  font-size: 30px;
  margin-left: 10px;
}

.deptName {
  width: 280px;
}
